
html,body{
  font-size: 14px;
}
img { 
  /* 自适应网页实现图片的自动缩放 */
  max-width: 100%;
  /* IE的专有命令 防止缩放图片时出现图像失真现象 */
  -ms-interpolation-mode: bicubic;
}

.App{
  .ant-layout{
    min-height: calc(100vh - 64px);
    .ant-layout-header{
      padding: 0 24px 0 50px;
    }
  }
  .ant-layout-content{
    background: rgb(255, 255, 255);
     padding: 24px;
     margin: 0px;
    //  min-height: 280px;
     flex: auto;
     .h-actions{
      float:right;
      button{
        margin-left:20px
      }
    }
    .clear{
      clear: both;
    }
    .ant-form{
      margin: 10px 0 0;
    }
  }
  .ant-menu.ant-menu-dark {
    .ant-menu-item-selected.ant-menu-item-active,.ant-menu-item:hover{
      background-color: #3e3e3e;
    }
    .ant-menu-item-selected,.language{
      background-color:transparent;
    }
    .ant-menu-item {
      padding: 0;
      .anticon{
        margin-right: 0
      }
      .right-menu{
        padding: 0 14px;
        .ant-badge{
          color: rgba(255, 255, 255, 0.65);
         
          .ant-badge-count{
            height: 16px;
            min-width: 16px;
            line-height: 16px;
          }
        }
      }
    }
    .ant-menu-item.ant-menu-item-active{
      .right-menu{
        .ant-badge{
          color: #fff;
        }
      }
    }
   
  }
  #layout-h .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #layout-h .trigger:hover {
    color: #1890ff;
  }

  #layout-h .logo {
    height: 32px;
    float: left;
    margin: 16px 28px 16px 0;
    font-weight: 800;
    color: #fff;
    font-size: calc(12px + 2vmin);
    line-height: 32px;
    text-shadow: 1px 1px 1px #fff;
    cursor: pointer;
  }
}

.ant-popover{
  .ant-tabs-content{
     .ant-tabs-tabpane{
      padding: 0 ;
      .message-list,.notification-list{
        padding: 16px 20px;
        cursor: pointer;
        &:hover{
          background: #e6f7ff;
        }
      }
    }
  }
  .ant-popover-inner-content{
    padding:0;
    
    .ant-tabs-bar{
      margin: 0;
    }
    .ant-btn-group{
      width: 100%;
      .ant-btn:first-child:not(:last-child){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 50%;
      }
      .ant-btn:last-child:not(:first-child){
        border-top-right-radius:0;
        border-bottom-right-radius: 0;
        width: 50%;
      }
      .ant-btn + .ant-btn{
        margin-left: 0;
      }
    }
  }
}

//  ConfigProvider antd 国际化部分
.locale-components {
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
}

.example {
  margin: 16px 0;
}

.example > * {
  margin-right: 8px;
}

.change-locale {
  margin-bottom: 16px;
}